# general
PORT=3300
NODE_ENV=development
HTTPS=false

# MongoDB
MONGO_URL=mongodb://localhost/erxes

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=amqp://localhost

# Google Cloud Storage
GOOGLE_APPLICATION_CREDENTIALS=''
GOOGLE_TOPIC=''
GOOGLE_SUBSCRIPTION_NAME=''
GOOGLE_PROJECT_ID=''
GOOGLE_CLOUD_STORAGE_BUCKET=''

# cron
PORT_CRONS=3600

# workers
PORT_WORKERS=3700

# erxes public facing domains
MAIN_APP_DOMAIN=http://localhost:3000
WIDGETS_DOMAIN=http://localhost:3200
INTEGRATIONS_API_DOMAIN=http://localhost:3400
CRONS_API_DOMAIN=
WORKERS_API_DOMAIN=
LOGS_API_DOMAIN=
ENGAGES_API_DOMAIN=