PORT=4300
NODE_ENV=development
CUBEJS_DB_HOST=localhost
CUBEJS_DB_NAME=erxes
CUBEJS_DB_USER=27017
CUBEJS_DB_PORT=3307
CUBEJS_DB_TYPE=mongobi

# generate cubejs token by this commmand 
# cubejs token -e TOKEN-EXPIRY -s "CUBEJS_API_SECRET variable value"

CUBEJS_API_SECRET=
REDIS_URL=http://localhost:6379/
REDIS_PASSWORD=""